


h1 {
    font-size: 1.375rem;
    color: var(--clr-grey);
}

h1 span {
    color: var(--clr-dark-blue);
    font-weight: var(--fw-bold);
}

.flex-container {
    display: flex;
    gap: .7319rem;
}

.icon-circle {
    border: 1px solid var(--clr-blue);
    padding: .5rem;
    border-radius: 50%;
}

.icon {
    width: 32px;
    fill: var(--clr-blue);
}

footer p {
    font-size: .625rem;
    color: var(--clr-grey);
}