@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --clr-blue: hsl(223, 87%, 63%);
    --clr-pale-blue: hsl(223, 100%, 88%);
    --clr-red: hsl(354, 100%, 66%);
    --clr-grey: hsl(0, 0%, 59%);
    --clr-dark-blue: hsl(209, 33%, 12%);

    --ff-main: 'Libre Franklin', sans-serif;;

    --fw-light: 300;
    --fw-medium: 600;
    --fw-bold: 700;

    --fz-main: 1.25rem;
}


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

body {
    font-family: var(--ff-main);
    font-weight: var(--fw-light);
    font-size: var(--fz-main);
    text-align: center;
    font-size: .75rem;
}

.button {
    border: 0;
    background-color: var(--clr-blue);
    color: white;
    padding: .75rem;
    border-radius: 2em;
    cursor: pointer;
}

.button:hover {
    box-shadow: var(--clr-pale-blue) 0px 8px 24px;
}

.input {
    border: 1px solid var(--clr-pale-blue);
    font-size: .75rem;
    padding: .75rem;
    border-radius: 2em;
    cursor: text;
}

a {
    cursor: pointer;
}

::placeholder {
    color: var(--clr-pale-blue);
    opacity: 1; /* Firefox */
}
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--clr-pale-blue);
}

.input-error {
    position: relative;
}

.inputIfError {
    margin-bottom: 1rem;
    border: 1px solid var(--clr-red);
}

@media (max-width:749px) {
    .button, .input {
        width: 100%;
    }
}

@media (min-width:750px) {
    body {
        font-size: 1rem;
    }
    
    .button {
        margin-top: 0;
        margin-left: 1rem;
        padding: 1.1875rem 3rem;
        display: inline;
    }

    .input {
        padding: 1.1875rem 10rem 1.1875rem 1.1875rem;
        font-size: 1rem;
        display: inline;
    }

}